[include]
    path = ~/.gitconfig.local
[alias]
    a = add
    aa = add --all
    aip = add -i -p
    br = branch
    bl = blame
    co = checkout
    cob = checkout -b
    com = checkout master
    chp = cherry-pick
    ci = commit
    cia = commit --amend
    cim = commit -m
    cl = clone
    df = diff
    dfc = diff --check
    dfs = diff --staged
    dt = difftool
    lg = log --abbrev-commit
    lps = log -p -S
    lgg = log --all --graph --format='%C(auto)%h%C(reset)%C(auto)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(cyan)<%aN>%C(reset)'
    pl = pull
    plrb = pull --rebase
    ps = push
    psf = push -f
    rb = rebase
    rs = reset
    sh = stash
    shd = stash drop
    shl = stash list
    shp = stash pop
    sm = submodule
    st = status
    sw = show
[core]
    editor = vim
    whitespace = true
[diff]
    tool = vimdiff
[push]
	default = current
