[include]
    path = ~/.gitconfig.local
[alias]
    br = branch
	co = checkout
    ci = commit
    cl = clone
    df = diff
    dfc = diff --check
    dfs = diff --staged
    lg = log
    lgg = log --all --oneline --graph
    pl = pull
    ps = push
    rb = rebase
    sh = stash
    shp = stash pop
	st = status
[core]
	editor = vim
