[include]
    path = ~/.gitconfig.local
[alias]
    aip = add -i -p
    br = branch
    co = checkout
    cob = checkout -b
    ci = commit
    cl = clone
    df = diff
    dfc = diff --check
    dfs = diff --staged
    lg = log
    lgg = log --all --oneline --graph
    pl = pull
    plrb = pull --rebase
    ps = push
    rb = rebase
    sh = stash
    shp = stash pop
    st = status
[core]
    editor = vim
    whitespace = true
