[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/.vim/bundle/vim-xkbswitch"]
	path = vim/.vim/bundle/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule "vim/.vim/bundle/vim-speeddating"]
	path = vim/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/.vim/bundle/vim-tmux-focus-events"]
	path = vim/.vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/bundle/vim-superman"]
	path = vim/.vim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
[submodule "vim/.vim/bundle/vim-eunuch"]
	path = vim/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/.vim/bundle/git-blame.vim"]
	path = vim/.vim/bundle/git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim
[submodule "vim/.vim/bundle/vim-ledger"]
	path = vim/.vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/bundle/Dockerfile.vim"]
	path = vim/.vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "vim/.vim/bundle/vim-grepper"]
	path = vim/.vim/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "vim/.vim/bundle/QFEnter"]
	path = vim/.vim/bundle/QFEnter
	url = https://github.com/yssl/QFEnter
[submodule "vim/.vim/bundle/vim-visual-star-search"]
	path = vim/.vim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule "vim/.vim/bundle/vim-searchindex"]
	path = vim/.vim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex
[submodule "vim/.vim/bundle/vim-textobj-user"]
	path = vim/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/.vim/bundle/vim-textobj-entire"]
	path = vim/.vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "vim/.vim/bundle/targets.vim"]
	path = vim/.vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/.vim/bundle/splitjoin.vim"]
	path = vim/.vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-prefix-highlight"]
	path = tmux/.tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "vim/.vim/bundle/vim-exchange"]
	path = vim/.vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/.vim/bundle/textobj-word-column.vim"]
	path = vim/.vim/bundle/textobj-word-column.vim
	url = https://github.com/coderifous/textobj-word-column.vim
[submodule "vim/.vim/bundle/vim-endwise"]
	path = vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/.vim/bundle/vim-abolish"]
	path = vim/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/.vim/bundle/vim-ragtag"]
	path = vim/.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim/.vim/bundle/CamelCaseMotion"]
	path = vim/.vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion
[submodule "vim/.vim/bundle/quick-scope"]
	path = vim/.vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/.vim/bundle/committia.vim"]
	path = vim/.vim/bundle/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "vim/.vim/bundle/vim-gtfo"]
	path = vim/.vim/bundle/vim-gtfo
	url = https://github.com/justinmk/vim-gtfo
[submodule "vim/.vim/bundle/vim-rhubarb"]
	path = vim/.vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/.vim/bundle/fugitive-gitlab.vim"]
	path = vim/.vim/bundle/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/.vim/bundle/vim-textobj-xmlattr"]
	path = vim/.vim/bundle/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/.vim/bundle/vim-obsession"]
	path = vim/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim/.vim/bundle/undoquit.vim"]
	path = vim/.vim/bundle/undoquit.vim
	url = https://github.com/AndrewRadev/undoquit.vim
[submodule "vim/.vim/bundle/ranger.vim"]
	path = vim/.vim/bundle/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "vim/.vim/bundle/vim-highlightedyank"]
	path = vim/.vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/.vim/bundle/MatchTagAlways"]
	path = vim/.vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "vim/.vim/bundle/gv.vim"]
	path = vim/.vim/bundle/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule "vim/.vim/bundle/vim-scriptease"]
	path = vim/.vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "vim/.vim/bundle/vim-closer"]
	path = vim/.vim/bundle/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "vim/.vim/bundle/vim-merginal"]
	path = vim/.vim/bundle/vim-merginal
	url = https://github.com/idanarye/vim-merginal
[submodule "vim/.vim/bundle/vim-gnupg"]
	path = vim/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/.vim/bundle/vZoom.vim"]
	path = vim/.vim/bundle/vZoom.vim
	url = https://github.com/KabbAmine/vZoom.vim
[submodule "vim/.vim/bundle/vim-expand-region"]
	path = vim/.vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "vim/.vim/bundle/vim-instant-markdown"]
	path = vim/.vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "tmux/.tmux/plugins/tmux-fzf-url"]
	path = tmux/.tmux/plugins/tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url
[submodule "vim/.vim/bundle/vim-python-pep8-indent"]
	path = vim/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "bash/.config/base16-shell"]
	path = bash/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/danielwe/base16-vim
[submodule "vim/.vim/bundle/tmuxline.vim"]
	path = vim/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/bundle/lightline-ale"]
	path = vim/.vim/bundle/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/.vim/bundle/vim-signature"]
	path = vim/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/.vim/bundle/completor.vim"]
	path = vim/.vim/bundle/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule "vim/.vim/bundle/winresizer"]
	path = vim/.vim/bundle/winresizer
	url = https://github.com/simeji/winresizer
[submodule "vim/.vim/bundle/requirements.txt.vim"]
	path = vim/.vim/bundle/requirements.txt.vim
	url = https://github.com/raimon49/requirements.txt.vim
[submodule "vim/.vim/bundle/vim-signjump"]
	path = vim/.vim/bundle/vim-signjump
	url = https://github.com/ZeroKnight/vim-signjump
[submodule "vim/.vim/bundle/vim-vue"]
	path = vim/.vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "vim/.vim/bundle/vim-pug"]
	path = vim/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule "vim/.vim/bundle/vim-isort"]
	path = vim/.vim/bundle/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "vim/.vim/bundle/vim-syntax-extra"]
	path = vim/.vim/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "vim-auto-save"]
	path = vim/.vim/bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save
[submodule "ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim-vinegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim-characterize"]
	path = vim/.vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule "python-syntax"]
	path = vim/.vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax
