[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-xkbswitch"]
	path = vim/.vim/bundle/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/Bitkeen/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-speeddating"]
	path = vim/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/.vim/bundle/vim-tmux-focus-events"]
	path = vim/.vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/bundle/vim-superman"]
	path = vim/.vim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
[submodule "vim/.vim/bundle/vim-eunuch"]
	path = vim/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/.vim/bundle/git-blame.vim"]
	path = vim/.vim/bundle/git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim
[submodule "vim/.vim/bundle/vim-ledger"]
	path = vim/.vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/bundle/Dockerfile.vim"]
	path = vim/.vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "vim/.vim/bundle/vim-grepper"]
	path = vim/.vim/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "vim/.vim/bundle/QFEnter"]
	path = vim/.vim/bundle/QFEnter
	url = https://github.com/yssl/QFEnter
[submodule "vim/.vim/bundle/vim-visual-star-search"]
	path = vim/.vim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule "vim/.vim/bundle/vim-searchindex"]
	path = vim/.vim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex
[submodule "vim/.vim/bundle/vim-textobj-user"]
	path = vim/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/.vim/bundle/vim-textobj-entire"]
	path = vim/.vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "vim/.vim/bundle/targets.vim"]
	path = vim/.vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/.vim/bundle/splitjoin.vim"]
	path = vim/.vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-prefix-highlight"]
	path = tmux/.tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "vim/.vim/bundle/vim-exchange"]
	path = vim/.vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/.vim/bundle/textobj-word-column.vim"]
	path = vim/.vim/bundle/textobj-word-column.vim
	url = https://github.com/coderifous/textobj-word-column.vim
[submodule "vim/.vim/bundle/vim-endwise"]
	path = vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/.vim/bundle/vim-abolish"]
	path = vim/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/.vim/bundle/vim-ragtag"]
	path = vim/.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim/.vim/bundle/CamelCaseMotion"]
	path = vim/.vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion
[submodule "vim/.vim/bundle/quick-scope"]
	path = vim/.vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/.vim/bundle/committia.vim"]
	path = vim/.vim/bundle/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "vim/.vim/bundle/vim-gtfo"]
	path = vim/.vim/bundle/vim-gtfo
	url = https://github.com/justinmk/vim-gtfo
[submodule "vim/.vim/bundle/vim-rhubarb"]
	path = vim/.vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/.vim/bundle/fugitive-gitlab.vim"]
	path = vim/.vim/bundle/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/.vim/bundle/vim-textobj-xmlattr"]
	path = vim/.vim/bundle/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/.vim/bundle/vim-obsession"]
	path = vim/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim/.vim/bundle/undoquit.vim"]
	path = vim/.vim/bundle/undoquit.vim
	url = https://github.com/AndrewRadev/undoquit.vim
[submodule "vim/.vim/bundle/ranger.vim"]
	path = vim/.vim/bundle/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "vim/.vim/bundle/vim-highlightedyank"]
	path = vim/.vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/.vim/bundle/MatchTagAlways"]
	path = vim/.vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "vim/.vim/bundle/gv.vim"]
	path = vim/.vim/bundle/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule "vim/.vim/bundle/vim-scriptease"]
	path = vim/.vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "vim/.vim/bundle/vim-closer"]
	path = vim/.vim/bundle/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "vim/.vim/bundle/vim-merginal"]
	path = vim/.vim/bundle/vim-merginal
	url = https://github.com/idanarye/vim-merginal
[submodule "vim/.vim/bundle/vim-gnupg"]
	path = vim/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/.vim/bundle/vZoom.vim"]
	path = vim/.vim/bundle/vZoom.vim
	url = https://github.com/KabbAmine/vZoom.vim
[submodule "vim/.vim/bundle/vim-expand-region"]
	path = vim/.vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "vim/.vim/bundle/vim-instant-markdown"]
	path = vim/.vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "tmux/.tmux/plugins/tmux-fzf-url"]
	path = tmux/.tmux/plugins/tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url
[submodule "vim/.vim/bundle/SimpylFold"]
	path = vim/.vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
