*.local
!.local/

pgcli/.config/pgcli/*
!pgcli/.config/pgcli/config
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

ipython/.ipython/*
!ipython/.ipython/profile_default
ipython/.ipython/profile_default/*
!ipython/.ipython/profile_default/ipython_config.py
!ipython/.ipython/profile_default/startup
ipython/.ipython/profile_default/startup/*
!ipython/.ipython/profile_default/startup/*.py

ranger/.config/ranger/bookmark_maps.conf

mpv/.config/mpv/watch_later/

ncmpcpp/.config/ncmpcpp/error.log
