bandcamp-downloader==0.0.8.post12
flynt==0.65
ipython-autotime==0.3.0  # Time everything in IPython.
iredis==1.9.1  # Terminal client for Redis with auto-completion and syntax highlighting.
isort==5.7.0  # Also required by pylint.
pre-commit==2.15.0
prompt_toolkit==3.0.18
pygments-base16==1.0.3
pydocstyle==5.1.1
pyfzf==0.2.2
pylint==2.6.0
pylint-django==2.4.2
python-lsp-server==1.2.1
