aqt==2.1.65  # Anki (not available in Arch official repos anymore).
bandcamp-downloader==0.0.12
flynt==0.65  # Convert a python project's %-formatted strings to f-strings.
iredis==1.9.1  # Terminal client for Redis with auto-completion and syntax highlighting.
line-profiler==4.0.3  # Line-by-line profiler.
matplotlib==3.5.3  # For plotting memory-profiler's graphs among other things.
pre-commit==3.3.2
prompt_toolkit==3.0.30
py-spy==0.3.9  # Sampling profiler for Python programs.
pydocstyle==5.1.1
pygments-base16==1.0.3
python-lsp-server==1.7.4
