aqt==2.1.49  # Anki (not available in Arch official repos anymore).
bandcamp-downloader==0.0.8.post12
flynt==0.65
ipython-autotime==0.3.0  # Time everything in IPython.
iredis==1.9.1  # Terminal client for Redis with auto-completion and syntax highlighting.
isort==5.7.0  # Also required by pylint.
line-profiler==3.3.1  # Line-by-line profiler.
matplotlib==3.4.3  # For plotting memory-profiler's graphs among other things.
memory-profiler==0.58.0  # A module for monitoring memory usage of a Python program.
pre-commit==2.15.0
prompt_toolkit==3.0.18
py-spy==0.3.9  # Sampling profiler for Python programs.
pydocstyle==5.1.1
pyfzf==0.2.2
pygments-base16==1.0.3
pylint==2.6.0
python-lsp-server==1.2.1
