extends python.local

snippet bp
breakpoint()
endsnippet

snippet mn
if __name__ == '__main__':
    $0
endsnippet


snippet ds "Docstring"
"""$0"""
endsnippet


snippet fm "from x import y"
from $1 import $0
endsnippet


snippet pr
print('$1')
endsnippet


snippet prf
print(f'{$1 = }')
endsnippet
