$include /etc/inputrc

set completion-ignore-case on

# Remove delay when hitting Esc in bash vi mode.
# Default value is 500 (ms).
set keyseq-timeout 1

# Enable vi mode.
set editing-mode vi
# Add mode information to prompt.
set show-mode-in-prompt on

$if term=tmux-256color
    set vi-ins-mode-string \1\ePtmux;\e\e[5 q\e\\\2
    set vi-cmd-mode-string \1\ePtmux;\e\e[2 q\e\\\2
$else
    # A blinking bar cursor in insert mode.
    set vi-ins-mode-string \1\e[5 q\2
    # A steady block cursor in command mode.
    set vi-cmd-mode-string \1\e[2 q\2
$endif

$if mode=vi
    set keymap vi-insert
    Control-a: beginning-of-line
    Control-e: end-of-line
    Control-f: clear-screen
    # Switch to block cursor before executing a command.
    # Without this, other programs like vim will use insert mode
    # cursor from bash.
    RETURN: "\e\n"

    set keymap vi-command
    Control-f: clear-screen
$endif
