[Unit]
Description=Battery notification

[Service]
Type=simple
ExecStart=/bin/sh -c "${HOME}/.local/bin/battery-notification"

[Install]
WantedBy=multi-user.target
