[Unit]
Description=Lock the screen before sleep or suspend
Before=sleep.target
Before=suspend.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/user/.local/bin/screen-lock

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
