[Unit]
Description=Monitor hotplug

[Service]
Type=simple
# See https://github.com/polybar/polybar/issues/173.
KillMode=process
RemainAfterExit=no
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/user/.Xauthority
ExecStart=/home/user/.local/bin/screenlayout-toggle

[Install]
WantedBy=multi-user.target
