[Unit]
Description=Reload newsboat feeds

[Service]
User=user
# Reload will fail if an instance of newsboat is already running.
# Ignore exit code with `|| true`.
ExecStart=/bin/sh -c '/usr/bin/newsboat -x reload || true'
