[Unit]
Description=Monitor hotplug

[Service]
Type=simple
User=user
KillMode=process
RemainAfterExit=no
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/user/.Xauthority
ExecStart=/home/user/.local/bin/screenlayout-toggle

[Install]
WantedBy=multi-user.target
