* {
    border-radius: 0px;
    font-family: DejaVu Sans;
}

/* Disable hover effect. */
#workspaces button {
    border: none;
}
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
    border-color: transparent;
}

#workspaces button.focused {
    color: #f8f8f8;
    background: #555555;
}
/* Active WS on another output. */
#workspaces button.visible:not(.focused) {
    color: #2E3436;
    background: #cccccc;
}

#window {
    margin-left: 50px;
}

#mode {
    color: #f8f8f8;
    background: #fa7904;
    margin-left: 6px;
    padding: 0px 12px;
}

#battery.warning:not(.charging) {
    background-color: #fa7904;
    color: #f8f8f8;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #f8f8f8;
}

.modules-right > widget > label {
    border-radius: 5px;
    background: #e4e4e4;
    padding: 0px 10px;
    margin: 3px 3px;
}

#tray {
    margin-left: 6px;
}

#tray > widget > image {
    margin-right: 6px;
}

#custom-power {
    background: #cccccc;
    border-radius: 0px;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio.input:not(.source-muted) {
    background-color: #f53c3c;
    color: #f8f8f8;
}
