---
- name: get wasavi extension id
  shell:
    warn: false # Don't warn about using get_url isntead of curl.
    cmd: curl --silent https://raw.githubusercontent.com/akahuku/wasavi/{{ wasavi_version }}/dist/firefox.json | jq -r ".addons | keys[0]"
  register: extension_id

- name: download wasavi extension
  become: yes
  become_user: '{{ user_name }}'
  get_url:
    url: 'https://github.com/akahuku/wasavi/blob/{{ wasavi_version }}/dist/wasavi.xpi?raw=true'
    dest: '{{ dirs.firefox_extensions }}/{{ extension_id.stdout }}.xpi'

- name: check that the sync DB exists
  stat:
    path: '{{ sync_db_path }}'
  register: sync_db

- name: configure vim-vixen
  become: yes
  become_user: '{{ user_name }}'
  command:
    cmd: 'translate-vimvixen-config --update-db {{ sync_db_path }}'
  when: sync_db.stat.exists
